
  main {
    min-height: 70vh;
  }
  
  .banner-wrapper {
    position: relative;
    top: 3.8rem;
  }
  
  .banner-wrapper .default-content-wrapper {
    max-width: unset;
  }
  
  .banner-wrapper .default-content-wrapper img {
    width: 100%;
  }
  
  .section.top-level-menu .default-content-wrapper {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .section.top-level-menu .default-content-wrapper p {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--header-brand-primary-font-family);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--brand-text-color);
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    margin: 3rem;
  }
  
  .section.top-level-menu .default-content-wrapper a {
    font-weight: bold;
    display: none;
    color: var(--link-gold-color);
    text-transform: uppercase;
    font-size: 1.2rem;
    align-items: center;
    position: absolute;
    bottom: -1.5rem;
  }
  
  .section.top-level-menu img {
    max-width: 300px;
  }
  
  .section.top-level-menu .default-content-wrapper p:hover img {
    scale: 1.1;
  }
  
  .section.top-level-menu .default-content-wrapper p:hover a {
    display: block;
  }
  
  .meat-table {
    margin-bottom: 5rem;
  }
  
  .meat-table .accordion details[open] {
    transition: all 3s;
  }
  
  .meat-table .accordion details summary:focus, 
  .meat-table .accordion details summary:hover,
  .meat-table .accordion details[open] summary {
    background-color:unset;
  }
  
  .meat-table .accordion details,
  .meat-table .accordion details[open] .accordion-item-body {
    border: none;
    border-top: unset;
  }
  
  .meat-table  .accordion-item {
    text-align: center;
  }
  
  .meat-table  .accordion-item-label {
    display: inline;
    color: var(--brand-text-color);
    font-family: var(--header-brand-primary-font-family);
    font-weight: bold;
    font-size: 2rem;
  }
  
  .meat-table  .accordion-item-label:hover::after {
    animation: bounce .5s infinite;
  }
  
  @keyframes bounce {
    25% {
      transform: rotate(135deg) translate(0);
    }
  }
  
  .meat-table .accordion details summary::after {
    top: 45%;
    right: 10px;
    width: 15px;
    height: 15px;
    border-width: 5px 5px 0 0;
  }
  
  .meat-table .accordion details[open] summary::after {
    transform: translateY(0%) rotate(-45deg);
  }

  .meat-table .accordion details[open] summary:hover::after {
    animation:none;
  }
  
  .meat-table table tr {
    display: flex;
    line-height: 2.5;
    font-family: "Nunito Regular", arial, sans-serif;
    font-size: 1.25rem;
  }
  
  .meat-table table tr:first-child {
    font-family: var(--header-brand-primary-font-family);
  }
  
  .meat-table table td {
    border-bottom: .0625rem solid #d4cbc7;
    text-align: left;
    flex: 1;
  }
  
  .meat-table table {
    width: 100%;
    color: var(--brand-text-color);
  }
  
  
  @media (width <= 767px) {
    .banner-wrapper {
      top: 0;
    }
  
    .section.top-level-menu img {
      max-width: 115px;
    }
  
    .section.top-level-menu .default-content-wrapper {
      justify-content: flex-start;
    }
  
    .section.top-level-menu .default-content-wrapper > p {
      flex-direction: row;
      font-size: 1.3rem;
      margin: 1.5rem;
      text-align: center;
    }
    
    .our-source {
      padding: 1rem;
    }
  }
  